<footer class="footer">
	<div class="container">
		<span class="text-muted">
			&copy; Nicky Waites 2015.
		</span>
		<ul class="list-inline" style="display:inline-block; padding-left:10px;">
			<li><a class="fa fa-twitter fa-lg" href="https://twitter.com/nickywaites"></a></li>
			<li><a class="fa fa-linkedin-square fa-lg" href="https://www.linkedin.com/pub/nicky-waites/13/719/b5b"></a></li>
			<li><a class="fa fa-github-square fa-lg" href="https://github.com/nickywaites"></a></li>
			<li><a class="fa fa-bitbucket-square fa-lg" href="https://bitbucket.org/nickywaites"></a></li>
			<li><a class="fa fa-stack-overflow fa-lg" href="http://stackoverflow.com/users/98589/nicky-waites"></a></li>
			<li><a class="fa fa-jsfiddle fa-lg" href="http://jsfiddle.net/user/nickywaites/fiddles/"></a></li>
		</ul>
	</div>
</footer>