<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://www.nickywaites.com">Nicky Waites</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="http://www.nickywaites.com">Home</a></li>
				{% if page.url == "/about/" %}
					<li class="active"><a href="/about/">About</a></li>
					<li><a href="{{ site.baseurl }}/">Blog</a></li>
					<li><a href="/tags/">Tags</a></li>                    
				{% elsif page.url == "/tags/index.html" %}
					<li><a href="/about/">About</a></li>
					<li><a href="{{ site.baseurl }}/">Blog</a></li>
					<li class="active"><a href="/tags/">Tags</a></li>  
				{% else %}
					<li><a href="/about/">About</a></li>
					<li class="active"><a href="{{ site.baseurl }}/">Blog</a></li>
					<li><a href="/tags/">Tags</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>    